[Desktop Entry]
Name=CandyFloss
X-KDE-PluginInfo-Author=shaansubbaiah
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=CandyFloss
X-KDE-PluginInfo-Version=1.0.0
